.text {
    width: 100%;
    text-align: center;
    font-size: 4.2rem;
    color: var(--clr-700);
    background: url(https://source.unsplash.com/1000x500/?random) no-repeat;
    background-position: center; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}