.picture__container {
    filter: grayscale(1);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        filter: grayscale(0);
    }

    img {
        opacity: 0;
    }
}