.container {
    display: flex;
    justify-content: center;
    gap: .5em;
    width: fit-content;
    margin: 0 auto;
    padding: .2em 1em;
    border-radius: 50px;
    border: 1px solid var(--clr-900);
    background-color: var(--clr-000);

    input[type='text']{
        border: none;
        background-color: var(--clr-000);
    }

    .search-icon {    
        width: 1em;   
        
        path {
            stroke: var(--clr-1000);
            stroke-width: .04em;
        }
    }
}