:root {
  --clr-000: #ffffff;
  --clr-100: #f1f1f1;
  --clr-200: #dbdbdb;
  --clr-300: #c5c5c5;
  --clr-400: #afafaf;
  --clr-500: #999999;
  --clr-600: #838383;
  --clr-700: #6e6e6e;
  --clr-800: #585858;
  --clr-900: #424242;
  --clr-1000: #2c2c2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-000: #2c2c2c;
    --clr-100: #424242;
    --clr-200: #585858;
    --clr-300: #6e6e6e;
    --clr-400: #838383;
    --clr-500: #999999;
    --clr-600: #afafaf;
    --clr-700: #c5c5c5;
    --clr-800: #dbdbdb;
    --clr-900: #f1f1f1;
    --clr-1000: #ffffff;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-000);
}